.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 5vh;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

.nav-black {    
    background: #191919;
}

.nav-logo {
    width: 10%;
    position: fixed;
    left: 2%;
    object-fit: contain;
    cursor: pointer;
}

.avatar {
    width: 3%;
    position: fixed;
    top: 2%;
    right: 2%;
    object-fit: contain;
    cursor: pointer;
}